:root {
    --bg_main: #0a1f44;
    --text_light: #fff;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange: #ff8c00;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
  }

  button {
    cursor: pointer;
  }

  input {
    margin: 2rem;
  }

   
  button, input {
    border: none;
    background: none;
    outline: none;
    color: var(--darkred);
  }
  
  body {
    text-align: center;
    font: 1rem/1.3 "Roboto", sans-serif;
    background: var(--bg_main);
    color: var(--text_dark);
    padding: 50px;
  }

  .heading {
    padding: 2rem 0;
    color: var(--text_light);
  }